.weather-component-line {
  width: 70%;
  border-color: #eeeeee -moz-use-text-color #ffffff;
  border-width: 1px 0;
  margin: 18px 0;
}

.weather-component__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-component__default-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
