.main-component {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-component__nav {
  background-color: #343a40;
}

.main-component__content {
  flex: 1;
  display: flex;
  padding-top: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-component-line {
  width: 70%;
  border-color: #eeeeee -moz-use-text-color #ffffff;
  border-width: 1px 0;
  margin: 18px 0;
}

.main-component__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #343a40;
}

.main-component__footer div {
  margin: 0 5%;
}

.main-component__footer-links a{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
}
